# LMMS filesystem
plugins/*
presets/*
projects/*
samples/*
templates/*

# SDK .tar
VST_SDK_2.4/

# Eclipse files
.cproject
.project
.settings/

# Build targets
## Prerequisites
*.d
## Object files
*.o
*.ko
## Libraries
*.a
*.la
*.lo

