# LMMS filesystem
plugins/*
presets/*
projects/*
samples/*
templates/*
recover.mmp
recover.mmp.bak

# SDK clone
vst_sdk_2.4

# Eclipse files
.cproject
.project
.settings/

# Doxygen
doc/
Doxyfile.bak

# Build targets
vst_hello_world
vst_cringmod
vst_spartializer
## Prerequisites
*.d
## Object files
*.o
*.ko
## Libraries
*.a
*.la
*.lo

